@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}
.slider{
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 30px;
    min-height: 30px;
    background-image: url(/slide_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-layer{
    background-image: url(/bg_layer.png);
}

.gradient-text {
    background: linear-gradient(to right, #8123fe, #dc2bfb); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; /* Ensures it applies correctly */
}
  
.gradient-heading {
    background: linear-gradient(to right, #080808, #959ca8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

.upload-gradient {
    background: linear-gradient(to right,#8123fe, #dc2bfb);
  }